*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded bg-gray-400;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

body {
  @apply text-neutral md:overflow-hidden;
  font-family: 'Fira Sans', sans-serif;

  .container {
    position: absolute;
    z-index: 1000;
  }

  .main-content {
    padding-block-start: rem(152);
  }
}

.typed-cursor {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 760px) {
  body {
    .page-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      @apply grid gap-2 relative left-0 top-0 w-full;
      grid-template-columns: repeat(2, auto);
      max-width: rem(700);
      margin: 0 auto;
      height: auto;
      transition: all 0.4s ease 0s;
    }

    .main-content {
      padding-block-start: rem(0);
      @apply grid mt-8;
      grid-template-columns: 1fr;
    }

    @keyframes customfadeInUp {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, 70%, 0);
        transform: translate3d(0, 70%, 0);
      }

      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }

    .fadeInUp {
      -webkit-animation-name: customfadeInUp;
      animation-name: customfadeInUp;
    }

    @keyframes customfadeOutUp {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
        -webkit-transform: translate3d(0, -70%, 0);
        transform: translate3d(0, -70%, 0);
      }
    }

    .fadeOutUp {
      -webkit-animation-name: customfadeOutUp;
      animation-name: customfadeOutUp;
    }

    .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
}

@media screen and (min-width: rem(1120)) {
  body {
    .container {
      @apply grid gap-2 relative left-0 top-0 w-full;
      grid-template-columns: repeat(2, auto);
      max-width: rem(1268);
      max-height: rem(620);
      margin: 8vh 6vw;
      height: 84vh;
    }

    .main-content {
      padding-block-start: rem(0);
      @apply grid;
      grid-template-columns: auto minmax(45rem, 1fr);
    }
  }
}
