*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  .container {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 1000;
    max-width: rem(1440);
    margin-inline: auto;
  }

  .main-content {
    padding-block-start: rem(165);
  }
}

.typed-cursor {
  display: none;
  visibility: hidden;
  opacity: 0;
}
