.cards {
  @apply grid gap-4 my-4;
  .card-inner {
    @apply bg-primary px-8 py-4 flex flex-col gap-8;

    section {
      h1 {
        @apply text-lg font-semibold relative p-2 px-10 mb-2 -mx-8 border-b border-gray-600/30 uppercase;

        span {
          @apply text-secondary;
        }
      }

      .services-inner {
        @apply grid mt-2;
        grid-template-columns: 1fr auto 1fr;
      }

      .brand {
        @apply text-secondary px-2 grid grid-cols-3 gap-2 text-center mt-2;

        svg {
          @apply w-8 h-8;
        }

        i {
          @apply text-4xl hover:text-gray-500;
        }
      }
      .title {
        @apply font-semibold px-2 py-1 text-neutral my-2;

        i {
          @apply text-secondary text-2xl relative top-0.5 mr-1 border border-secondary rounded-full px-2 py-1;
        }
      }

      .toptitle {
        @apply m-1 mb-2 relative;

        svg {
          @apply absolute right-0 top-1/2 -translate-y-1/2 text-secondary;
        }
      }

      .subtitle {
        @apply m-1 mb-2 relative text-sm leading-normal text-neutral-content;

        svg {
          @apply absolute right-0 top-1/2 -translate-y-1/2 text-secondary;
        }
      }

      .period {
        @apply text-secondary text-xs border border-secondary inline-block p-1 m-1;
      }

      p {
        @apply px-2;
      }

      .section-footer {
        @apply grid my-2 gap-2 p-2;

        .item {
          @apply text-sm;
          .item-title {
            @apply text-left font-semibold uppercase;
          }

          .item-subtitle {
            @apply text-secondary font-semibold ml-4;
          }
        }
      }
    }
  }
}

@media screen and (min-width: rem(760)) {
  .cards {
    .card-inner {
      position: absolute;
      overflow: hidden;
      left: rem(560);
      width: auto;
      height: auto;
      transform-origin: center left;
      opacity: 0;
      visibility: hidden;
      z-index: 8;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 0 4px 4px 0;
      -khtml-border-radius: 4px;
      transition:
        visibility 1s linear,
        opacity 0s linear;
      -moz-transition:
        visibility 1s linear,
        opacity 0s linear;
      -webkit-transition:
        visibility 1s linear,
        opacity 0s linear;
      -o-transition:
        visibility 1s linear,
        opacity 0s linear;

      &.active {
        position: relative;
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      section {
        .section-footer {
          @apply grid-cols-2;
        }
      }
    }
  }
}
