[data-theme='light'] {
  header {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
}

[data-theme='dark'] {
  header {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  }
}

nav {
  @apply border-t-8 border-secondary;
  .main-menu,
  .dropdown {
    .menu {
      li {
        a {
          @apply flex flex-col gap-0 p-0 mx-auto hover:text-secondary hover:bg-primary active:bg-primary;

          &.active {
            @apply text-secondary bg-primary;
          }

          &:active {
            @apply text-secondary bg-primary;
          }

          svg {
            @apply w-6 h-6 mx-auto;

            + div {
              @apply font-light text-xs p-2;
            }
          }
        }
      }
    }
  }
}
.full-name {
  @apply flex flex-col justify-start px-0 mx-0;

  .title {
    @apply w-full;
  }

  .subtitle {
    @apply font-light text-secondary w-full leading-none text-xs;
  }
}

@media screen and (min-width: rem(760)) {
  header {
    max-width: rem(72);
    @apply mt-4 ml-auto;
  }

  [data-theme='light'] {
    header {
      box-shadow: none;
    }
  }

  [data-theme='dark'] {
    header {
      box-shadow: none;
    }
  }

  nav {
    @apply border-none;
  }
}
