.profile {
  .profile-content {
    .banner {
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -30px;
        right: 0;
        width: auto;
        height: 60px;
        transform: none;
        -webkit-transform: none;
        border-radius: 100% 100% 0 0;
      }

      &::after {
        @apply bg-primary;
      }
    }
  }

  .image {
    margin: -121px 0 0;
    position: relative;
    display: inline-block;
  }

  .links {
    @apply grid text-center uppercase text-xs;
    grid-template-columns: 1fr auto 1fr;
  }
}

@media screen and (min-width: rem(760)) {
  .profile {
    @apply relative;
    max-width: rem(480);
    z-index: 1;

    &::after {
      content: '';
      left: rem(-15);
      top: rem(-15);
      background: linear-gradient(
        135deg,
        rgba(246, 184, 70, 0.4) 0%,
        rgba(246, 184, 70, 0.01) 100%
      );
      z-index: -10;
      @apply absolute w-full h-full rounded;
    }

    .profile-content {
      @apply rounded overflow-hidden;
    }
  }

  [data-theme='light'] {
    .profile {
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    }
  }

  [data-theme='dark'] {
    .profile {
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    }
  }
}
